@model List<ResumeProject.Models.tblProfile>
@foreach (var x in Model)
{
    <footer class="text-center">

        <div class="footer py-5">
            <div class="container py-md-4">
                <div clss="footer-logo">
                    <a class="logo" href="index.html">
                        <i class="fab fa-asymmetrik"></i> @x.Name
                    </a>
                </div>
                <div class="footer-contact-info mt-4">
                    <ul>
                        <li>
                            <a href="tel:+12 345 678 900" class="contact-text-sub">
                                <span class="fas fa-phone me-2"></span>@x.Phone
                            </a>
                        </li>
                        <li>
                            <a href="mailto:@x.Mail" class="contact-text-sub">
                                <span class="fas fa-envelope me-2"></span>@x.Mail
                            </a>
                        </li>
                        <li>
                            <p class="contact-text-sub">
                                <span class="fas fa-map-marker me-2"></span>@x.Adress
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container py-4">
            <div class="row footer-grids">
                <div class="col-lg-6 copyright text-lg-start text-center align-center">
                    <p>© @DateTime.Now.Year CV Sitesi. Tüm Hakları Saklıdır |  <a href="http://w3layouts.com/"> YMA </a> Tasarımıdır</p>
                </div>
                <div class="col-lg-6 text-lg-end text-center mt-lg-0 mt-4">
                    <div class="social">
                        <ul>
                            <li><a href="@x.SocilaMedia1"><span class="fab me-2 fa-facebook-f"></span></a></li>
                            <li><a href="@x.SocialMedia2"><span class="fab me-2 fa-twitter"></span></a></li>
                            <li><a href="@x.SocialMedia3"><span class="fab me-2 fa-instagram"></span></a></li>
                            <li><a href="@x.SocialMedia4"><span class="fab me-2 fa-linkedin-in"></span></a></li>
                            <li><a href="#url"><span class="fab me-2 fa-vk"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </footer>
}
