@model ResumeProject.Models.tblContact
@{
    ViewBag.Title = "UpdateContact";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Günceleme Sayfası</h2>
<form method="post">
    @Html.HiddenFor(x => x.ContactID)
    <br />
    <label> Ad Soyad</label>
    @Html.TextBoxFor(x => x.NameSurname, new { @class = "form-control" })
    <br />
    <label> Mail</label>
    @Html.TextBoxFor(x => x.Mail, new { @class = "form-control" })
    <br />
    <label>Konusu</label>
    @Html.TextBoxFor(x => x.Subject, new { @class = "form-control" })
    <br />
    <label> Mesaj</label>
    @Html.TextBoxFor(x => x.Message, new { @class = "form-control" })
    <br />
    <label> Tarih</label>
    @Html.TextBoxFor(x => x.Date, new { @class = "form-control" })
    <br />
    <button class="btn btn-primary">Verileri Güncelle</button>
</form>